*{
    margin: 0;
    padding: 0;

    .container{
        width: 1396px;
        margin-left: auto;
        margin-right: auto;
    }

    @mixin reset {
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    @mixin but{
        width: 124px;
        height: 48px;
        flex-shrink: 0;

        border: 1px solid #323334;

        color: #323334;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    body{
        header{
            margin-right: auto;
            margin-left: auto;

            .head1{
                display: flex;
                justify-content: space-between;

                padding: 20px 0px;

                ul{
                    display: flex;
                    justify-content: space-between;
                    height: 27px;
                    width: 200px;
                    list-style-type: none;
                }
            }

            .head2{
                display: flex;
                justify-content: center;
                padding: 20px 0px;

                ul{
                    display: flex;
                    justify-content: space-between;
                    width: 1150px;
                    list-style-type: none;
                }

                a{
                    text-decoration: none;
                }
            }

            .head3{
                display: flex;
                justify-content: center;
                padding: 20px 0px;

                div{
                    display: flex;
                    justify-content: center;
                    width: 1250px;
                    gap: 10px;
                }

                p{
                    margin-top: 8px;
                }
            }

            .head1,
            .head2{
                border-bottom: 2px solid #323334;
                padding-bottom: 20px;
            }

            h2{
                @include reset;

                font-size: 28px;
                color: #323334;
            }

            h3{
                @include reset;

                font-size: 16px;
                color: #323334;
            }

            p{
                @include reset;

                font-size: 12px;
                color: rgba(0, 0, 0, 0.50);
            }

        }

        .fon{
            width: 99.9%;
            height: 566px;
            flex-shrink: 0;

            border: 1px solid #000;
            background: rgba(219, 208, 204, 0.80);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .cont_gl{
                // width: 1200px;
                display: flex;
                gap: 40px;
                margin-left: 70px;
                // margin-left: auto;
                // margin-right: auto;


                .owl-carousel{
                    width: 1396px;
                    margin-right: auto;
                    margin-left: auto;
                    

                    .owl-stage-outer{
                        position: relative;
                        overflow: hidden;
                    }

                    .owl-stage{
                        display: flex;
                        justify-content: center;
                        
                        width: 9680px;
                        transform: translate3d(-3630px, 0px, 0px);
                        transition: all 3s ease 0s;
        
                        .owl-item{
                            width: 0px;
                        }
                    }
        
                    .owl-nav{
                        display: none;
                    }
        
                    .owl-dots{
                        display: none;
                        position: absolute;
                        margin-top: -80px;
                        margin-left: 592px;

                        .owl-dot{
                            width: 10px;
                            height: 10px;
                            border-radius: 25px;
                            border: none;
                            margin-left: 20px;
                        }
            
                        .active{
                            background-color: #323334b2;
                        }
                    }
                }



                .img_gl{
                    padding: 60px 0;
                    transition: 0.2s;
                }
                .img_gl:hover{
                    transform: scale(1.05);
                }

                .text_gl{
                    padding: 160px 0;

                    h3{
                        @include reset;

                        font-size: 22px;
                        color: #323334;

                        margin-bottom: 20px;
                    }

                    h1{
                        @include reset();

                        font-size: 48px;
                        color: #A86A3D;

                        margin: 20px 0 30px 0;
                    }

                    button{
                        @include but;

                        background: rgba(219, 208, 204, 0);
                        cursor: pointer;
                        margin-left: 20px;
                        margin-top: 12px;

                        transition: 0.1s;
                    }

                    button:hover{
                        color: #fff;
                        background:#323334;
                    }
                }
            }
        }

        .det{
            display: flex;
            padding: 30px 0;
            gap: 40px;
            margin-right: auto;
            margin-left: auto;

            .det_cart{
                display: flex;

                width: 678px;
                height: 368px;
                flex-shrink: 0;

                background: #FAFAFA;

                .det_text{
                    position: absolute;
                    margin-left: 330px;
                    margin-top: 130px;

                    h2{
                        @include reset;

                        font-size: 28px;
                        color: #323334;

                        margin-bottom: 45px;
                    }

                    button{
                        @include but;

                        background: rgba(219, 208, 204, 0);
                        cursor: pointer;
                        margin-left: 20px;
                        margin-top: 12px;

                        transition: 0.1s;
                    }

                    button:hover{
                        color: #fff;
                        background:#323334;
                    }
                }
            }
            
            .det_cart2{
                display: flex;

                width: 678px;
                height: 368px;
                flex-shrink: 0;

                background: #EAE9E7;

                img{
                    transform: scale(-1, 1);
                    margin-left: -54px;
                }

                .det_text{
                    position: absolute;
                    margin-left: 245px;
                    margin-top: 130px;

                    h2{
                        @include reset;

                        font-size: 28px;
                        color: #323334;

                        margin-bottom: 45px;
                    }

                    button{
                        @include but;

                        background: rgba(219, 208, 204, 0);
                        cursor: pointer;
                        margin-left: 20px;
                        margin-top: 12px;

                        transition: 0.1s;
                    }

                    button:hover{
                        color: #fff;
                        background:#323334;
                    }
                }
            }
        }

        .dec{
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

            .dec_con1{
                display: flex;
                justify-content: space-between;

                .imgs{
                    .img1{
                        position: absolute;
                    }
                }

                .black_fon{
                    position: absolute;
                    margin-top: -570px;
                    background: rgba(0, 0, 0, 0.40);
                    width: 261px;
                    height: 376px;
                    flex-shrink: 0;
                    padding: 190px 0 0 45px;

                    h2{
                        @include reset;

                        font-size: 28px;
                        color: #fff;

                        margin-bottom: 20px;
                    }

                    p{
                        @include reset;

                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        color: #fff;
                        margin-bottom: 20px;
                    }

                    button{
                        @include but;
                        cursor: pointer;
                        background: rgba(219, 208, 204, 0);
                        color: #fff;
                        border-color: #fff;
                        transition: 0.1s;
                    }

                    button:hover{
                        background-color: #fff;
                        color: #323334;
                    }

                }
            }

            .dec_con2{
                width: 306px;
                height: 566px;
                flex-shrink: 0;

                p{
                    @include reset;

                    font-size: 18px;
                    color: #323334;
                    padding: 25px 0 18px 0;
                }

                h2{
                    @include reset;

                    font-size: 24px;
                    color: #323334;
                    padding-top: 15px;
                }

                .dec_cart2{
                    .container_img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .image-container {
                        position: relative;
                    }
                    
                    .popup {
                        display: none;
                        position: absolute;
                        top: 180px;
                        left: 40px;
                        background-color: rgba(255, 255, 255);
                        color: rgb(0, 0, 0);
                        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                        padding: 13px;
                        border-radius: 30px;
                        width: 200px;

                       opacity: 0;
                       transition: opacity 7s ease-in-out;
                    }
                    
                    .image-container:hover .popup {
                        display: flex;
                        justify-content: center;
                        gap: 15px;

                        opacity: 1;
                    }

                }
            }

        }

        .fon2{
            display: flex;
            background-image: url(img/fon2.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            justify-content: center;
            width: 100%;
            height: 510px;
            margin: 80px 0;
            

            .block_fr{
                position: absolute;
                margin-left: 70px;
                margin-top: 90px;
                
            }


            .block2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 575px;
                height: 338px;
                flex-shrink: 0;

                background: rgba(255, 255, 255, 0.90);

                .bl_text{
                    padding-left: 130px;

                    h2{
                        @include reset;
        
                        font-size: 24px;
                        color: #323334;
                        padding: 25px 0;
                    }
    
                    .price{
                        display: flex;
                        height: 40px;
                        gap: 20px;
    
                        h2{
                            @include reset;
    
                            color: #7B5136;
                            font-size: 28px;
                            padding: 0;
                        }
    
                        p{
                            @include reset;
    
                            color: #7B5136;
                            font-size: 16px;
                            padding: 8px 0 0 0;

                            text-decoration: line-through;
                        }
                    }
    
                    p{
                        @include reset;
    
                        color: #323334;
                        font-size: 16px;
                        font-weight: 300;
                        padding: 5px 0 15px 0;
                    }
    
                    button{
                        @include but;

                        background: rgba(219, 208, 204, 0);
                        cursor: pointer;

                        transition: 0.1s;
                    }

                    button:hover{
                        color: #fff;
                        background:#323334;
                    }
                }

            }
        }

        .catalog{
            width: 1396px;
            margin-left: auto;
            margin-right: auto;
            flex-wrap: wrap;
            h2{
                @include reset;

                font-size: 28px;
                padding: 0;
                margin-bottom: 40px;
            }

            .but{
                display: flex;
                justify-content: center;
    
                button{
                    @include reset;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    border: none;
                    margin-top: 50px;
                    margin-bottom: 60px;
                    width: 350px;
                    height: 50px;
                    padding-top: 18px;
                    background-color: #323334;
                    color: #fff;
    
                    text-decoration: none;
                    text-transform: uppercase;
    
                }
            }

            .sec_catal{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .catal {
                display: flex;
                margin-bottom: 15px;

                .img_top{
                    width: 230px;
                }

                .catal_text{
                    margin-left: 30px;
                    margin-top: 90px;
                }

                img{
                    margin-bottom: 13px;
                }

                p{
                    @include reset;
    
                    font-size: 18px;
                    color: #323334;
                    padding: 25px 0 12px 0;
                    width: 150px;
                }

                .popup {
                    display: flex;
                    width: 100px;
                    gap: 20px;
                    margin-top: -20px;
                }
                
            }
        }

        .forma{
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            margin-top: 20px;
            h2{
                @include reset;
                font-size: 28px;
                padding: 0;
                margin-bottom: 5px;
            }
            p{
                @include reset;
                font-size: 16px;
                font-weight: 400;
                color: #323334;
            }

            form{
                display: flex;
                #email{
                    @include reset;
                    width: 500px;
                    font-weight: 400;
                    padding: 15px 30px;
                    border-radius: 0;
                    border: 1px solid #000;

                    
                    &:focus{
                        outline: none;
                    }
                }

                #but{
                    padding: 20px 35px;
                    background-color: #323334;
                }
            }
        }

        .fon3{
            background-color: #323334;
        }

        footer{
            display: flex;
            justify-content: space-between;
            padding-top: 50px;

            .foot_d{
                margin-top: 20px;
            }

            h2{
                @include reset;
                font-size: 28px;
                padding: 0;
                margin-bottom: 5px;
                color: #fff;
            }

            p, .ph{
               @include reset;
                font-size: 16px;
                font-weight: 400;
                color: #fff; 
                margin-bottom: 10px;
            }

            .ph{
                margin-bottom: 35px;
            }

            .soc{
                margin-top: 40px;
                margin-bottom: 60px;
                display: flex;
                justify-content: space-between;
            }

            .p2{
               @include reset;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff70; 
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .p3{
               @include reset;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff70; 
                margin-bottom: 15px;
            }

            span{
                font-size: 24px;
            }

            .blog{
                width: 500px;
                height: 300px;
            }

            .line{
                border: 1px solid #ffffff70;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .pl{
                margin-top: 20px;
                margin-bottom: 20px;
            }

        }

        .fon4{
            background-color: #222222;
            p{
                @include reset();
                padding-top: 20px;
                padding-bottom: 20px;
                display: flex;
                justify-content: center;
                color: #ffffff50;
                font-weight: 100;
            }
        }

        .product {
            display: none;
            margin-bottom: 10px;
        }

    }
}
